<mat-toolbar color="primary" class="toolbar">
  <span class="brand" routerLink="/">Dogs</span>
  <span class="spacer"></span>
  <a mat-button color="accent" routerLink="/home">Home</a>
  <a mat-button color="accent" routerLink="/about">About</a>
  <a mat-button color="accent" routerLink="/dog">Dogs</a>
  <span class="spacer"></span>
  <button mat-icon-button color="accent" aria-label="Notifications">
    <mat-icon>notifications</mat-icon>
  </button>
  <button mat-icon-button color="accent" aria-label="User">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
